# For testing
WWEBJS_TEST_REMOTE_ID=XXXXXXXXXX@c.us
WWEBJS_TEST_CLIENT_ID=authenticated
WWEBJS_TEST_MD=1

# MQTT Configuration
# See MQTT_INTEGRATION.md doc for more details
MQTT_BROKER_URL=mqtt://localhost:1883
MQTT_USERNAME=admin
MQTT_PASSWORD=admin
MQTT_CLIENT_ID=walink-client-12345
MQTT_INCOMING_TOPIC=walink/incoming
MQTT_OUTGOING_TOPIC=walink/outgoing
MQTT_ENABLE=true